**Using the dataset data_transform.xlsx analyze the sales at retail outlets for different prices (using the concept of Demand Response Curve). Fit a Simple Linear regression model to this dataset directly and answer questions (1) to (4)**.

In [87]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from scipy.stats import f

In [88]:
df = pd.read_excel("data_transform.xlsx")
df

    Price  Sales
0    2.20   68.9
1    7.48   15.6
2    7.26   19.5
3    3.08   35.1
4    8.14   10.4
5    7.92   15.6
6    4.84   35.1
7    3.74   22.1
8    3.08   79.3
9    7.04   26.0
10   1.76  123.5
11   2.42   42.9
12   5.50   24.7
13   7.26   19.5
14   2.20   55.9
15   5.72   14.3
16   6.60   26.0
17   5.28   46.8
18   7.92    9.1
19   6.16   11.7
20   5.28   27.3
21   5.06   32.5
22   4.62   37.7
23   3.96   23.4
24   7.92    7.8
25   8.14    9.1
26   6.38   19.5
27   2.64   29.9
28   2.42   66.3
29   2.64  120.9
30   2.20   66.3
31   8.14   18.2
32   2.64   53.3
33   7.48   10.4
34   2.20  148.2
35   5.50   45.5
36   4.40   23.4
37   7.26   11.7
38   3.96   59.8
39   4.40   22.1
40   2.86   55.9
41   1.76   81.9
42   7.92   10.4
43   3.52   44.2
44   1.98  188.5
45   5.28   23.4
46   3.74   52.0
47   6.16   22.1
48   7.04   22.1
49   8.14   15.6

In [89]:
df.describe()

           Price      Sales
count  50.000000   50.00000
mean    5.024800   41.02800
std     2.165317   37.39749
min     1.760000    7.80000
25%     2.915000   18.52500
50%     5.170000   26.00000
75%     7.205000   52.97500
max     8.140000  188.50000

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Price   50 non-null     float64
 1   Sales   50 non-null     float64
dtypes: float64(2)
memory usage: 932.0 bytes


**What is the r-square value**

In [91]:
X,Y = df[['Price']],df.Sales

model = LinearRegression()
model.fit(X,Y)

r_square = model.score(X,Y)

print("r_square:", r_square)

r_square: 0.5263620045670871

In [92]:
standardized_coef = model.coef_/df.Price.std()
standardized_coef

array([-5.78684467])

**Is the model significant?**

*if the p-value is less than your significance level (e.g., 0.05), then you can reject the null hypothesis and conclude that the model is significant. Conversely, if the p-value is greater than your significance level, then you fail to reject the null hypothesis and conclude that the model is not significant 1*

In [93]:
p=1
#fvalue
f_val = (r_square/p) / ((1-r_square)/(len(df)-p-1))
#pvalue
p_val = 1 - f.cdf(f_val, p, len(df)-p-1)

print("F-value:", f_val)
print("p-value:", p_val)

F-value: 53.34322090466416
p-value: 2.521315378700706e-09

*p-value is 2.52e-09, which is much smaller than the typical significance level of 0.05. Therefore, we can reject the null hypothesis and conclude that your **regression model is significant**.*

**What is the value of the intercept?**

In [94]:
print("Intercept value:", model.intercept_)

Intercept value: 103.9905130279435

**What is the value of the slope?**

In [95]:
print("Slope value:", model.coef_[0])

Slope value: -12.530352059374206

**Use natural log transformation and refit the model using the transformed dataset answer questions**

In [96]:
y = np.log(Y)

In [100]:
model1 = LinearRegression()
model1.fit(X, y)

r_squared = model1.score(X, y)

print("R-squared value:", r_squared)

R-squared value: 0.7520141805237455

**Is the model significant?**

In [101]:
p=1
#fvalue
f_val1 = (r_squared/p) / ((1-r_squared)/(len(df)-p-1))
#pvalue
p_val1 = 1 - f.cdf(f_val, p, len(df)-p-1)

print("F-value:", f_val1)
print("p-value:", p_val1)

F-value: 145.55945473566143
p-value: 2.521315378700706e-09

*p-value is 3.33e-16, which is much smaller than the typical significance level of 0.05. Therefore, we can reject the null hypothesis and conclude that your **regression model is significant**.*

**What is the value of the intercept?**

In [102]:
print("Intercept value:", model1.intercept_)

Intercept value: 4.964528412063759

**What is the value of the slope?**

In [104]:
print("Slope value:", model1.coef_[0])

Slope value: -0.3107614547091135

**Pandya Motors, a passenger car manufacturer, wants to predict the profit for its cars based on the expenditure spent on areas like safety features, tech features, and marketing. Every car has multiple variants like the base model, middle variant, top model, automatic gearbox, etc. Based on the data provided, build a linear regression model and predict the profit. Use the instructions provided below.
	i. You are provided with two excel files: X.xlsx and y.xlsx, where X is the feature matrix, and y is the target variable.
	ii. Use only Google Collab for doing this assignment as we have created the scoring scheme based on the results obtained from Google Collab.
	iii. Do not do any kind of feature engineering as the data is already feature-engineered and ready to be used for building the regression model.
	iv. Use train_test_split from sklearn.model_selection and keep the test_size = 0.2, random_state = 0
	v. Next, use LinearRegression from sklearn.linear_model and build the regression model
	vi. As usual, fit the model on X_train and y_train
	vii. Then predict on X_test**

In [105]:
dfX = pd.read_excel("X.xlsx")
dfX

    Safety Features  Tech Features  Marketing Spend  Premium Hatchback  SUV
0         175349.20      116897.80        491784.10                  0    1
1         172597.70      131377.59        463898.53                  0    0
2         163441.51       81145.55        427934.54                  1    0
3         154372.41       98671.85        403199.62                  0    1
4         152107.34       71391.77        386168.42                  1    0
5         141876.90       79814.71        382861.36                  0    1
6         144615.46      127198.87        147716.82                  0    0
7         140298.13      125530.06        343876.68                  1    0
8         130542.52      128718.95        331613.29                  0    1
9         133334.88       88679.17        324981.62                  0    0
10        111913.08       90594.11        249160.95                  1    0
11        110671.96       71790.61        269744.55                  0    0
12        103863.75      107320.38        269839.44                  1    0
13        101992.39      115495.07        272664.93                  0    0
14        129943.24      136547.42        276512.92                  1    0
15        124523.61      102616.84        281776.23                  0    1
16         88013.11      101597.55        284346.06                  0    0
17        104657.16      125077.58        302574.31                  0    1
18        101749.16       94175.79        314919.57                  1    0
19         96419.70      133514.11         20000.00                  0    1
20         86253.86       93867.30        318664.47                  0    0
21         88389.47      133773.43        319737.29                  0    1
22         83994.56      102782.75        323319.26                  1    0
23         77532.53       85751.03        324768.73                  1    0
24         87044.01       79281.34        160574.81                  0    1
25         74664.71      119553.16        157962.62                  0    0
26         85328.87      124135.98        154050.07                  1    0
27         82107.60      107864.55        373183.81                  0    1
28         76051.52      162645.56        138148.20                  1    0
29         75605.48      133032.06        127138.38                  0    1
30         71994.48       95641.28        111131.24                  1    0
31         71136.38      132701.92        108218.23                  0    1
32         73408.86      109219.61         66085.25                  0    0
33         65493.95       83057.49        234634.81                  1    0
34         56426.07      137693.92        230797.67                  0    0
35         56014.02       65047.44        225517.64                  0    1
36         38663.76      107056.21        221126.82                  1    0
37         54069.95       31283.14        217029.42                  0    0
38         30229.59       45947.93        205265.10                  0    1
39         48558.51       62982.09        194999.30                  0    0
40         38754.33       98546.05        192795.67                  0    0
41         37892.92       64710.77        184470.71                  1    0
42         33640.93       76189.63        168001.11                  0    0
43         25505.73      107382.30         55534.17                  0    1
44         32177.74      134806.14         48334.72                  0    0
45         11000.23      104153.04         21903.93                  0    1
46         11315.46       95816.21        317114.46                  1    0
47         10000.00      115426.92         20000.00                  0    0
48         10542.05       31743.15         20000.00                  0    1
49         10000.00       96983.80         65173.06                  0    0

In [106]:
dfY = pd.read_excel("Y.xlsx")
dfY

       Profit
0   227261.83
1   226792.06
2   226050.39
3   217901.99
4   201187.94
5   191991.12
6   191122.51
7   190752.60
8   187211.77
9   184759.96
10  181121.95
11  179259.40
12  176585.52
13  169307.35
14  167602.65
15  164917.04
16  161992.93
17  160370.37
18  159266.90
19  157776.86
20  153474.03
21  146313.02
22  145352.25
23  143733.99
24  143552.04
25  142404.34
26  140733.54
27  140008.31
28  138282.38
29  136004.64
30  134937.59
31  132483.56
32  132427.84
33  131778.92
34  131712.80
35  131479.51
36  125708.19
37  124949.14
38  116229.06
39  116005.76
40  113239.91
41  112798.83
42  106498.49
43  104758.98
44  100200.33
45   99926.08
46   84490.75
47   77559.73
48   70673.41
49   49681.40

In [107]:
# split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(dfX, dfY, test_size=0.2, random_state=0)

In [108]:
model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

r2 = model.score(X_test, y_test)
print("R-squared value:", r2)

R-squared value: 0.9347068473282425

**What is the value of the intercept?**

In [109]:
print("model intercept:", model.intercept_[0])

model intercept: 69744.9871238524

**If X1 = 1315.46, X2 = 115816.21, X4 = 297114.46, X5 = 1, X6 = 0, then predict the profit from your linear regression model**

In [110]:
X_new = [[1315.46, 115816.21, 297114.46, 0, 1]]
y_new = model.predict(X_new)

# view the predicted profit
print("Predicted profit:", y_new[0])

Predicted profit: [86147.75884887]

D:\SOFTWARE\Python\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(