In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import mean_absolute_error
from pandas.plotting import autocorrelation_plot
from statsmodels.tsa.arima_model import ARIMA

In [2]:
df = pd.read_excel("/Users/nithesh-pt7363/Work/IITMBS/TDS/Week4/Correlation_2.xlsx")
df.head()

   iso_code location       date  new_cases  new_cases_smoothed  total_deaths
0  OWID_EUR   Europe 2021-07-10    85170.0            90282.00     1114963.0
1  OWID_EUR   Europe 2021-07-09   110454.0            87077.71     1114071.0
2  OWID_EUR   Europe 2021-07-08    99385.0            82298.14     1113121.0
3  OWID_EUR   Europe 2021-07-07    96513.0            79298.57     1112044.0
4  OWID_EUR   Europe 2021-07-06    84329.0            75237.29     1111000.0

In [3]:
df.describe()

,date,new_cases,new_cases_smoothed,total_deaths
count,2607,2605.000000,2579.000000,2.472000e+03
mean,2020-10-22 14:17:48.814729728,38783.185029,38948.654344,1.596920e+05
min,2020-01-22 00:00:00,-53.000000,0.000000,1.000000e+00
25%,2020-06-14 12:00:00,708.000000,755.214000,2.080500e+03
50%,2020-10-23 00:00:00,9121.000000,11064.290000,2.593750e+04
75%,2021-03-02 00:00:00,46934.000000,46404.285000,1.958605e+05
max,2021-07-10 00:00:00,414188.000000,391232.000000,1.114963e+06
std,NaN,66376.472180,65359.224051,2.543126e+05

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2607 entries, 0 to 2606
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   iso_code            2607 non-null   object
 1   location            2607 non-null   object
 2   date                2607 non-null   datetime64[ns]
 3   new_cases           2605 non-null   float64
 4   new_cases_smoothed  2579 non-null   float64
 5   total_deaths        2472 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 122.3+ KB

In [6]:
df.nunique()

iso_code                 5
location                 5
date                   536
new_cases             2208
new_cases_smoothed    2451
total_deaths          2270
dtype: int64

In [11]:
df['location'].unique()

array(['Europe', 'Brazil', 'India', 'Japan', 'Israel'], dtype=object)

In [12]:
df = df[df['location']=="India"]
df.head()

    iso_code location       date  new_cases  new_cases_smoothed  total_deaths
289      IND    India 2021-07-10    41506.0            41684.14      408040.0
291      IND    India 2021-07-09    42766.0            41907.71      407145.0
294      IND    India 2021-07-08    43393.0            42099.86      405939.0
295      IND    India 2021-07-07    45892.0            42560.43      405028.0
296      IND    India 2021-07-06    43733.0            42973.86      404211.0

In [13]:
df.sort_values('date', ascending=True, inplace=True)
df['date'].min(), df['date'].max()

(Timestamp('2020-01-30 00:00:00'), Timestamp('2021-07-10 00:00:00'))

In [ ]:
plt.xlabel('Date')
plt.ylabel('New death')
plt.plot(df['date'], df['new death'],)